<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Grade list</title>
</head>
<body>
<h1>Grade List</h1>

<table>
    <tr>
        <th>Id</th>
        <th>Subject</th>
        <th>Date added</th>
        <th>Value</th>
        <th></th> <!-- pusta (na przyciski, później) -->
    </tr>
    <tr th:each="grade : ${at_list_grades}">
        <td th:text="${grade.getId()}"></td>
        <td th:text="${grade.getSubject()}"></td>
        <td th:text="${grade.dateAdded}"></td>
        <td th:text="${grade.getValue()}"></td>
        <td>
            <a th:href="@{'/grade/edit/' + ${grade.getId()}}">Edyuj</a>
            <a th:href="@{'/grade/delete/' + ${grade.getId()}}">Usun</a>
            <br/>
            <a th:href="@{'/grade/edit?edited_student_id=' + ${grade.getId()}}">Edyuj param</a>
            <a th:href="@{'/grade/delete?deleted_id=' + ${grade.getId()}}">Usun param</a>

        </td>
    </tr>
</table>
</body>
</html>