<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student list</title>
</head>
<body>
<div th:replace="fragments :: navigator"></div>
<h1>Student List</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>AliveA</th>
        <th></th> <!-- pusta (na przyciski, później) -->
    </tr>
    <tr th:each="student : ${students}">
        <td th:text="${student.getId()}"></td>
        <td th:text="${student.getName()}"></td>
        <td th:text="${student.getSurname()}"></td>
        <td th:text="${student.getAge()}"></td>
        <td th:text="${student.isAlive()}"></td>
        <td>
            <a th:href="@{'/student/edit/' + ${student.getId()}}">Edyuj</a>
            <a th:href="@{'/student/delete/' + ${student.getId()}}">Usun</a>
            <a th:href="@{'/grade/add/' + ${student.getId()}}">Dodaj ocenę</a>
            <a th:href="@{'/student/grades/' + ${student.getId()}}">Listuj oceny</a>
            <br/>
            <a th:href="@{'/student/edit?edited_student_id=' + ${student.getId()}}">Edyuj param</a>
            <a th:href="@{'/student/delete?deleted_id=' + ${student.getId()}}">Usun param</a>

        </td>
    </tr>
</table>
</body>
</html>